# Node
node_modules/
dist/

# Rust / Cargo
src-tauri/target/
src-tauri/gen/

# Tauri
src-tauri/WixTools/V
src-tauri/*.tmp

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/settings.json
*.suo
*.user

.env